main{
  margin-top: 200px;
}

/* **************** NAVBAR ********************* */

.nav-pills .show > .nav-link {
  color: black;
  background-color: #dae0e5;
}

.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: #f8f9fa;
}

.navbar-toggler:active {
  border: 1px solid #b31f3d;
}

